.fruit-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: fit-content;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.fruit-card h2 {
    margin-top: 0;
}

.fruit-card p {
    margin: 8px 0;
}

.fruit-card strong {
    display: inline-block;
    width: 150px;
}

.delete-button {
    background-color: #3ce73c;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 4px;
    margin-left: auto;
}

.delete-button:hover {
    background-color: #009c00;
}